@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprum.woff2') format('woff2'),
         url('../fonts/cuprum.woff') format('woff'),
         url('../fonts/cuprumbold.woff2') format('woff2'),
         url('../fonts/cuprumbold.woff') format('woff'),
         url('../fonts/cuprumitalic.woff2') format('woff2'),
         url('../fonts/cuprumitalic.woff') format('woff'),
         url('../fonts/cuprumbolditalic.woff2') format('woff2'),
         url('../fonts/cuprumbolditalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Cuprum';
    src: url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff'),
         url('../fonts/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold.woff') format('woff');
  }

  :root {
    --basic-white: #FFFFFF;
    --basic-opacity-white: rgba(255, 255, 255, .3);
    --basic-dark-white: #F3F7F8;
    --basic-black: #000000;
    --basic-light-grey: #C5C5C5;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-navy-blue: #293449;
    --basic-light-blue: #32425C;
    --basic-linen: #F9F5F0;
    /* special colors */
    --special-yellow: #FFBF47;
    --special-sky-blue: #3BBCE3;
    --special-light-violet: #DC91D8;
    --special-light-green: #8ED78F;
    --special-light-yellow: #FFD180;
    --special-grey: #A9A9A9;
    --special-light-grey: #E5E5E5;
    --special-lace: #F7F3EC;
    --special-grey: #EAEAEA;
    /* hover colors */
    --hover-green: #5FBB2D;
    --hover-red: #CA2C37;
    --hover-light-blue: #293449;
    /* click colors */
    --click-green: #518534;
    --click-red: #BA2732;
    --click-blue: #1D2739;
    --click-black: #161D29;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    min-width: 960px;
    padding: 0;
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
  }
  
  .page {
    height: 100%;
  }
  
  .page__body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  .container {
    width: 940px;
    margin: 0 auto;
  }
  
  .list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-light-blue);
    background-color: var(--basic-linen);
    margin: 69px 0 20px 0;
  }
  
  .heading-container__heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
  
  .button {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--basic-red);
    text-transform: uppercase;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  /* Хедер */
  
  .page-header {
    display: grid;
    color: var(--basic-white);
    background-color: var(--basic-dark-white);
    padding-bottom: 60px;
    margin-bottom: 40px;
  }
  
  .page-header__top {
    background-color: var(--basic-navy-blue);
    margin-bottom: 30px;
  }
  
  .page-header__logo {
    display: block;
    height: 42px;
  }

  .page-header__functional-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header__functional-menu {
    display: flex;
    align-items: center;
  }

  .page-header__functional-menu-item {
    margin-left: 26px;
  }
  
  .page-header__functional-menu-item {
    text-align: center;
  }
  
  .page-header__functional-menu-button_checkout {
    display: block;
    width: 150px;
    height: 42px;
    background-color: var(--basic-green);
    padding-top: 9px;
  }
  
  .page-header__middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .page-header__heading {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: var(--basic-red);
    padding: 0 30px;
  }
  
  .page-header__contact-info {
    display: grid;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--basic-light-blue);
  }
  
  .page-header__contact-info-phone {
    font-size: 21px;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: var(--basic-red);
    border: 3px solid var(--basic-white);
    grid-column: 1 / -1;
  }
  
  .personal-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-black);
  }
  
  .personal-area__button {
    background-color: var(--basic-white);
  }
  
  .page-header__checkout-button {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
    background-color: var(--basic-green);
  }
  
  .page-header__navigation {
    background-color: var(--basic-light-blue);
    box-shadow: inset 0px -5px 0px #293449;
  }
  
  .page-header__navigation-list {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__navigation-item {
    flex-grow: 1;
  }

  .page-header__navigation-button {
    display: flex;
    justify-content: center;
    line-height: 60px;
  }
  .search-form {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
  }
  
  /* Промо секция */
  
  .promo-section {
    margin-bottom: 59px;
    padding-top: 20px;
    color: var(--basic-white);
  }
  
  .promo-section__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(123px, auto);
    grid-gap: 20px;
    gap: 20px;
  }
  
  .promo-section__services-item {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
  }
  
  .promo-section__services-item_materials {
    background-color: var(--special-light-yellow);
  }
  
  .promo-section__services-item_tools {
    background-color: var(--special-sky-blue);
  }
  
  .promo-section__services-item_technics {
    background-color: var(--special-light-violet);
  }
  
  .promo-section__services-item_discount {
    background-color: var(--special-light-green);
  }
  
  .promo-section__services-item_delivery {
    background-color: var(--special-light-yellow);
  }
  
  .promo-section__services-item_slides {
    position: relative;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
  }
  
  .promo-section__slider {
    background-color: var(--basic-light-grey);
  }
  
  .promo-section__slider-item {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  .promo-section__slider-heading {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .promo-section__slider-text {
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  .promo-section__slider-img {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  .promo-section__slider-button {
    grid-row: 3;
    grid-column: 1;
    width: 192px;
    height: 38px;
    line-height: 38px;
    margin-left: 24px;
    margin-bottom: 27px;
  }

  .promo-section__slider-bredcrumbs {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .promo-section__slider-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
  }

  .promo-section__services-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-opacity-white);
  }
  
  /* Популярные товары */

  .goods {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    gap: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .popular-goods .goods {
    grid-template-columns: repeat(4, auto);
  }

  .goods__item {
    border: 1px solid var(--special-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .goods__price {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
  }
  
  .goods__discount-price {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    min-height: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--basic-light-grey);
    text-decoration-line: line-through;
    text-transform: uppercase;
  }
  
  .goods__action-list {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  
  .goods__action_buy-button {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
  }
  
  .goods__action_bookmarks-button {
    border: 3px solid var(--basic-green);
    color: var(--basic-light-blue);
  }
  
  .manufacturers {
    margin-bottom: 70px;
  }
  
  .manufacturers__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
  }
  
  .manufacturers__list-item {
    text-align: center;
  }
  
  /* Сервисы */
  
  .services {
    background-color: var(--basic-dark-white);
  }
  
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 103px;
  }
  
  .services__heading {
    grid-column: span 3;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .services__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
    grid-column: span 3;
  }
  
  .services__navigation-list {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-top: 70px;
    margin-right: 80px;
  }
  
  .services__navigation-list-item {
    width: 240px;
    height: 61px;
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
  }

  .services__navigation-list-button {
    display: block;
    width: 100%;
    min-height: 100%;
    line-height: 61px;
    padding-left: 22px;
  }
  
  .services__list {
    margin-top: 40px;
    grid-column: span 2;
    background: no-repeat right 35px url('../img/bg/bg-trunk.png');
  }
  
  .services__list-item-heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-light-blue);
  }
  
  /* О нас */
  
  .about-us {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 70px;
  }

  .about-us__wrapper {
    padding-right: 20px;
  }
  
  .about-us__heading,
  .contact-info__heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .about-us__text,
  .contact-info__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
  }
  
  .about-us__working-with-list {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }
  
  /* Футер */
  
  .page-footer {
    color: var(--basic-white);
    background-color: var(--basic-light-blue);
  }
  
  .page-footer__top {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
  
  .page-footer__navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: end;
  }
  
  .page-footer__contact-info {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
  }
  
  .page-footer__navigation-item_specials {
    justify-self: end;
    color: var(--special-light-yellow);
  }
  
  .page-footer__navigation-item:nth-child(6) {
    grid-column: 2;
  }
  
  .page-footer__socials-wrapper {
    background-color: var(--basic-navy-blue);
  }
  
  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-footer__socials-list-item {
    background-color: var(--basic-navy-blue);
  }
  
  .page-footer__social-link {
    color: var(--special-light-yellow);
  }
  
  /* Каталог */

  .pagination {
    display: flex;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 48px;
  }
  
  .pagination__item {
    margin-right: 40px;
    border: 1px solid var(--special-light-grey);
    background-color: var(--basic-white);
    margin-right: 10px;
    padding: 10px 15px;
  }

  .catalog-content__heading {
    font-size: 30px;
    line-height: 30px;
    padding: 29px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-light-blue);
    background-color: var(--basic-dark-white);
  }
  .store {
    display: grid;
    grid-gap: 20px;
    gap: 20px;
    grid-template-columns: 220px 1fr;
    grid-auto-rows: min-content;
  }

  .sorting-menu {
    display: flex;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--special-lace);
  }
  
  .sorting-menu__heading {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    background-color: var(--special-lace);
  }
  
  .sorting-menu__list {
    display: flex;
  }
  
  .sorting-menu__button {
    list-style: none;
    padding: 0;
    opacity: .3;
  }
  
  .filters {
    grid-row: 1 / 3;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
  }
  
  .filters__heading {
    font-size: 13px;
    line-height: 18px;
    background-color: var(--special-lace);
  }
  
  .filters__name {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
  }
  
  .filters__show-btn {
    border: 1px solid var(--special-light-grey);
  }
  
  .wrapper {
    background-color: var(--basic-dark-white);
  }
  .about-perforators {
    margin-top: 59px;
    padding-top: 64px;
    padding-bottom: 67px;
    background-color: var(--basic-dark-white);
  }
  
  .about-perforators__heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .about-perforators__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Интерактивные элементы */
  
  .page-header__navigation-button:hover,
  .services__navigation-list a:hover {
    background-color: var(--hover-light-blue);
  }
  
  .page-header__checkout-button:hover {
    background-color: var(--hover-green);
  }
  
  .personal-area__button:hover {
    color: var(--hover-red);
  }
  
  .promo-section__services-button:hover {
    background-color: var(--basic-light-grey);
  }
  
  .button:hover {
    background-color: var(--hover-red);
  }
  
  .button-container__buy-button:hover {
    background-color: var(--hover-green);
  }
  
  .button-container__bookmarks-button:hover {
    border-color: var(--hover-light-blue);
  }
  
  .page-footer__navigation a:hover,
  .page-footer__social-link:hover {
    text-decoration: underline;
  }
  
  .page-footer__socials-list-item:hover {
    background-color: var(--hover-red);
  }
  
  .sorting-menu__button:hover {
    opacity: 1;
    border-bottom: 1px dotted var(--hover-red);
  }
  
  /* click */
  
  .services__navigation-list a:active {
    background-color: var(--basic-white);
    color: var(--basic-light-blue);
  }
  
  .page-header__functional-menu-button:active {
    background-color: var(--click-black);
  }
  
  .page-header__checkout-button:active {
    background-color: var(--click-green);
  }
  
  .personal-area__button:active {
    background-color: var(--basic-white);
    color: var(--basic-light-grey);
  }
  
  .promo-section__services-button:active {
    background-color: var(--special-grey);
  }
  
  .button:active {
    background-color: var(--click-red);
  }
  
  .button-container__buy-button:active {
    background-color: var(--click-green);
  }
  
  .button-container__bookmarks-button:active {
    border-color: var(--basic-light-blue);
    color: var(--basic-light-blue);
  }
  
  .page-footer__navigation-item a:active {
    opacity: .5;
  }
  
  .page-footer__social-link:active {
    color: var(--click-red);
  }
  
  .sorting-menu__button:active {
    color: var(--click-red);
    border: none;
  }
  
  .bredcrumbs__item a:active {
    border: 1px solid var(--click-red);
  }
  
  /* focus */
  
  .page-header__navigation a:focus,
  .services__navigation-list a:focus {
    background-color: var(--click-blue);
  }
  
  .site-search:focus {
    background-color: var(--basic-white);
    color: var(--basik-balack);
  }