@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/cuprum.woff2') format('woff2'),
		 url('../fonts/cuprum.woff') format('woff'),
		 url('../fonts/cuprumbold.woff2') format('woff2'),
		 url('../fonts/cuprumbold.woff') format('woff'),
		 url('../fonts/cuprumitalic.woff2') format('woff2'),
		 url('../fonts/cuprumitalic.woff') format('woff'),
		 url('../fonts/cuprumbolditalic.woff2') format('woff2'),
		 url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/ptsans.woff2') format('woff2'),
	url('../fonts/ptsans.woff') format('woff'),
	url('../fonts/ptsansbold.woff2') format('woff2'),
	url('../fonts/ptsansbold.woff') format('woff');
}

 :root {
	--basic-white: #FFFFFF;
	--basic-opacity-white: rgba(255, 255, 255, .3);
	--basic-dark-white: #F3F7F8;
	--basic-black: #000000;
	--basic-light-grey: #C5C5C5;
	--basic-red: #EE3643;
	--basic-green: #63A63E;
	--basic-navy-blue: #293449;
	--basic-light-blue: #32425C;
	--basic-linen: #F9F5F0;
	/* special colors */
	--special-yellow: #FFBF47;
	--special-sky-blue: #3BBCE3;
	--special-light-violet: #DC91D8;
	--special-light-green: #8ED78F;
	--special-yellow: #FFBF47;
	--special-light-yellow: #FFD180;
	--special-grey: #A9A9A9;
	--special-light-grey: #E5E5E5;
	--special-lace: #F7F3EC;
	--special-grey: #EAEAEA;
	--special-btn-shadow: #405069;
	--special-filter-bg: #F7F3EC;
	--special-filter-bar: #d7dcde;
	--special-filter-toggle: #ABABAB;
	--special-filter-shadow: #cfcfcf
	/* hover colors */
	--hover-green: #5FBB2D;
	--hover-red: #CA2C37;
	--hover-light-blue: #293449;
	/* click colors */
	--click-green: #518534;
	--click-red: #BA2732;
	--click-blue: #1D2739;
	--click-black: #161D29;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	/* min-width: 960px; */
	padding: 0;
	margin: 0;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
}

.page {
	height: 100%;
}

.page__body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.container {
	width: 1200px;
	padding: 0 130px;
	margin: 0 auto;
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.heading-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	color: var(--basic-light-blue);
	background-color: var(--basic-linen);
	margin-bottom: 20px;
	padding-top: 4px;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-right: 15px;
}

.heading-container__heading {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	letter-spacing: -3px;
}

.button {
	display: block;
	font-size: 14px;
	line-height: 38px;
	font-weight: normal;
	text-align: center;
	width: 192px;
	height: 38px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	text-transform: uppercase;
	letter-spacing: -1px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


/* Хедер */

.page-header {
	display: grid;
	color: var(--basic-white);
	background-color: var(--basic-dark-white);
	padding-bottom: 60px;
	margin-bottom: 13px;
}

.page-header__top {
	background-color: var(--basic-navy-blue);
	margin-bottom: 32px;
}

.page-header__logo {
	display: block;
	height: 42px;
}

.page-header__functional-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.page-header__functional-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.page-header__functional-menu-item {
	text-align: center;
	/*  */
	/* width: 150px; */
	/*  */
}

.page-header__functional-menu-button {
	position: relative;
	padding: 10px 34px;
}

.page-header__functional-menu-button_bookmarks {
	letter-spacing: -1px;
	/* margin-right: 7px; */
}

.page-header__functional-menu-button_basket {
	letter-spacing: -1px;
}

.page-header__functional-menu-button_checkout {
	display: block;
	background-color: var(--basic-green);
	padding: 9px 15px;
	letter-spacing: -1px;
}

.page-header__functional-menu-button_bookmarks::before {
	position: absolute;
	content: '';
	width: 14px;
	height: 16px;
	top: 14px;
	left: 13px;
	background: url('../img/icons/icon-bookmark.svg');
}

.page-header__functional-menu-button_basket::before {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	top: 14px;
	left: 12px;
	background: url('../img/icons/icon-cart.svg');
}

.page-header__contact-info-phone::before {
	position: absolute;
	content: '';
	width: 19px;
	height: 19px;
	top: 11px;
	left: 20px;
	background: url('../img/icons/icon-phone.svg');
}

.page-header__middle {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	gap: 20px;
	margin-bottom: 36px;
}

.page-header__heading {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: normal;
	color: var(--basic-red);
	padding-left: 30px;
	padding-right: 50px;
}

.page-header__contact-info {
	display: grid;
	align-items: center;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	padding-top: 10px;
	color: var(--basic-light-blue);
}

.page-header__contact-info-phone {
	position: relative;
	font-size: 21px;
	line-height: 30px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: var(--basic-red);
	border: 3px solid var(--basic-white);
	grid-column: 1 / -1;
	width: 270px;
	padding: 5px 30px;
	padding-left: 55px;
	letter-spacing: -1px;
}

.site-search {
	position: relative;
	appearance: none;
	outline: none;
	border: none;
	background-color: var(--basic-blue);
	padding-left: 42px;
	letter-spacing: -2px;
}

.site-search::placeholder {
	color: var(--basic-white);
}

.search-form {
	position: relative;
	margin-right: 32px;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

.site-search__label {
	font-size: 0;
	line-height: 0;
}

.site-search__label::before {
	position: absolute;
	content: '';
	width: 17px;
	height: 17px;
	left: 17px;
	top: 3px;
	z-index: 100000;
	background-image: url('../img/icons/icon-search.svg');
}

.personal-area {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-end;
	font-size: 21px;
	font-weight: normal;
	color: var(--basic-black);
	padding-top: 15px;
}

.personal-area__button {
	background-color: var(--basic-white);
	margin-left: 10px;
	padding: 10px 20px;
}

.personal-area__button_login {
	position: relative;
	padding-left: 45px;
}

.personal-area__button_orders,
.personal-area__button_cabinet {
	padding: 0;
	margin: 0;
	background-color: inherit;
	font-size: 16px;
	line-height: 18px;
	margin-right: 10px;
}

.personal-area__button_login::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 17px;
	left: 20px;
	top: 14px;
	background: url(../img/icons/icon-login.svg);
	background-repeat: no-repeat;
}

.page-header__navigation-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 26px;
	background-color: var(--basic-light-blue);
	box-shadow: inset 0px -5px 0px #293449;
}

.page-header__navigation-button {
	display: flex;
	justify-content: center;
	line-height: 60px;
	padding: 0 28px;
	letter-spacing: -1px;
}

/* Промо секция */

.promo-section {
	margin-bottom: 59px;
	padding-top: 46px;
	color: var(--basic-white);
}

.promo-section__services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(123px, auto);
	grid-gap: 20px;
	gap: 20px;
	margin-bottom: 59px;
}

.promo-section__services-item {
	position: relative;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
	padding: 20px;
}

.promo-section__services-image {
	position: absolute;
	right: 31px;
	top: 26%;
}

.promo-section__services-item_materials {
	background-color: var(--special-yellow);
}

.promo-section__services-image_materials {
	top: 25%;
	right: 43px;
}

.promo-section__services-item_tools {
	background-color: var(--special-sky-blue);
}

.promo-section__services-image_tools {
	top: 27%;
	right: 31px;
}

.promo-section__services-item_technics {
	background-color: var(--special-light-violet);
}

.promo-section__services-image_technics {
	top: 25%;
	right: 31px;
}

.promo-section__services-item_discount {
	background-color: var(--special-light-green);
}

.promo-section__services-image_discount {
	top: 21%;
	right: 45px;
}

.promo-section__services-item_delivery {
	background-color: var(--special-yellow);
}

.promo-section__services-item_slides {
	position: relative;
	grid-row: 2 / 4;
	grid-column: 1 / 3;
	padding: 0;
}

.promo-section__slider {
	background-color: var(--basic-light-grey);
}

.promo-section__slider-item {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

.promo-section__slider-prv-btn,
.promo-section__slider-next-btn {
	appearance: none;
	background: none;
	border: none;
	outline: none;
}

.promo-section__slider-heading {
	grid-row: 1;
	grid-column: 1;
	z-index: 1;
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 20px;
	padding-left: 23px;
	padding-bottom: 5px;
	padding-right: 20px;
	letter-spacing: -2px;
}

.promo-section__slider-text {
	grid-row: 2;
	grid-column: 1;
	z-index: 1;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	padding-left: 20px
}

.promo-section__slider-img {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
}

.promo-section__slider-button {
	grid-row: 3;
	grid-column: 1;
	width: 192px;
	height: 38px;
	line-height: 38px;
	margin-left: 24px;
	margin-bottom: 27px;
}

.promo-section__slider-bredcrumbs {
	display: flex;
	position: absolute;
	bottom: 37px;
	left: 51%;
	transform: translateX(-50%);
}

.promo-section__slider-bredcrumbs__item {
	width: 10px;
	height: 10px;
	border: 2px solid white;
	border-radius: 50%;
	margin-right: 11px;
}

.promo-section__slider-bredcrumbs__item.active {
	background-color: red;
}

.promo-section__slider-buttons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 54%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	z-index: 2;
	padding: 0 15px;
}

.promo-section__services-button {
	display: block;
	width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--basic-opacity-white);
	margin-top: 13px;
}


/* Популярные товары */

.goods {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
	gap: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 54px;
}

.popular-goods .goods {
	grid-template-columns: repeat(4, auto);
}

.goods__item {
	position: relative;
	border: 1px solid var(--special-grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 5px 12px 20px 5px;
}

.goods__image-container {
	width: 184px;
	height: 164px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 9px;
}

.goods__action-list {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.goods__action-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 38px;
	cursor: pointer;
	border-radius: 2px;
	color: var(--basic-white);
	margin-bottom: 10px;
}

.goods__action_bookmarks-button {
	border: 3px solid var(--basic-green);
	color: var(--basic-light-blue);
}

.goods__action-item_buy-button {
	background-color: var(--basic-green);
	box-shadow: inset 0px -3px 0px #367315;
}

.goods__name {
margin: 0;
margin-bottom: 10px;
letter-spacing: -1px;
}

.goods__price {
	position: relative;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 38px;
	width: 123px;
	height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
	margin-top: 12px;
	border-radius: 3px;
	margin: 0;
}

.goods__price::after {
	display: block;
	position: absolute;
	top: 5px;
	right: -13px;
	content: '';
	width: 28px;
	height: 28px;
	background-color: var(--basic-red);
	transform: rotate(45deg);
	border-radius: 2px 1px 2px 10px;
}

.goods__discount-price {
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 18px;
	min-height: 18px;
	font-weight: bold;
	text-align: center;
	color: var(--basic-light-grey);
	text-decoration-line: line-through;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.goods__item:hover .goods__action-list {
	display: flex;
}

.goods__item:hover .goods__image {
	display: none;
}

.manufacturers__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	gap: 15px;
	justify-content: center;
	margin-bottom: 63px;
}

.manufacturers__list-item {
	text-align: center;
}


/* Сервисы */

.services {
	background-color: var(--basic-dark-white);
}

.services__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 35px;
	padding-bottom: 99px;
	margin-bottom: 46px;
}

.services__heading {
	grid-column: span 3;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -3px;
}

.services__text {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
	grid-column: span 3;
}

.services__navigation-list {
	position: relative;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	list-style: none;
	padding: 0;
	margin-top: 77px;
	margin-right: 79px;
}

.services__navigation-list::after {
	position: absolute;
	content: '';
	top: -50px;
	right: 0;
	width: 10px;
	height: 279px;
	background: url('../img/vertical-line.png');
}

.services__navigation-list-item {
	width: 240px;
	height: 61px;
	color: var(--basic-white);
	background-color: var(--basic-light-blue);
	box-shadow: 0px 1px 0px var(--hover-light-blue), inset 0px 1px 0px var(--special-btn-shadow);
}

.services__navigation-list-button {
	display: block;
	width: 100%;
	min-height: 100%;
	line-height: 63px;
	padding-left: 22px;
}

.services__list {
	margin-top: 40px;
	grid-column: span 2;
	background: no-repeat 152px 54px url('../img/bg/bg-trunk.png');
}

.services__list-item-heading {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--basic-light-blue);
	letter-spacing: -3px;
}


/* О нас */

.about-us {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin-bottom: 70px;
}

.about-us__wrapper {
	padding-right: 20px;
}

.contact-info {
	padding-left: 14px;
}

.contact-info p {
	padding-right: 100px;
	margin-bottom: 30px;
}

.about-us__heading,
.contact-info__heading {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -3px;
}

.about-us__text,
.contact-info__text {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 0;
}

.about-us .button {
	width: 220px;
}

.contact-info .button {
	width: 100%;
	margin-top: 20px;
}

.about-us__working-with-list {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	padding-left: 37px;
	margin-bottom: 20px;
}

.about-us__working-with-list-item {
	position: relative;
	margin-bottom: 12px;
}

.about-us__working-with-list-item::before {
	position: absolute;
	left: -37px;
	bottom: 10px;
	content: '';
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
}


/* Футер */

.page-footer {
	color: var(--basic-white);
	background-color: var(--basic-light-blue);
}

.page-footer__top {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding-bottom: 53px;
}

.page-footer__navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	grid-column: 2;
	grid-row: 1 / 3;
	margin-top: 37px;
	padding-bottom: 20px;
}

.page-footer__contact-info {
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -1px;
	padding-top: 15px;
}

.page-footer__navigation-item {
	margin-right: 50px;
}

.page-footer__navigation-item_specials {
	color: var(--special-light-yellow);
	margin-top: 34px;
}

.page-footer__navigation-item:nth-of-type(5n) {
	margin-right: 0;
}

.page-footer__navigation-item_specials:last-of-type {
	margin-right: 0;
}

.page-footer__socials-wrapper {
	background-color: var(--basic-navy-blue);
}

.page-footer__socials {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: normal;
}

.copyright {
	min-width: 305px;
	padding: 0 10px;
}

.feedback {
	padding-left: 35px;
}

.developers {
	text-align: right;
}

.page-footer__socials-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 300px;
}

.page-footer__socials-list-item {
	border-radius: 50%;
	vertical-align: middle;
	background-color: var(--basic-navy-blue);
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 44px;
	height: 44px;
}

.page-footer__social-link {
	color: var(--special-light-yellow);
}


/* Каталог */

.bredcrumbs,
.pagination {
	display: flex;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: var(--basic-black);
	margin-top: 23px;
	margin-bottom: 7px;
}
.bredcrumbs__item,
.pagination__item {
	position: relative;
	margin-right: 40px;
	margin-bottom: 10px;
	background-color: var(--basic-white);
}
.pagination__item {
	margin-right: 10px;
}
.bredcrumbs__item::after {
	position: absolute;
	content: '';
	width: 8px;
	height: 13px;
	top: 2px;
	right: -22px;
	background: url('../img/icons/icon-pagination.svg');
}

.bredcrumbs__item_current::after {
	display: none;
}

.pagination__link {
	padding: 10px 15px;
	border: 1px solid var(--special-light-grey);
}
.catalog-content__heading {
	font-size: 30px;
	line-height: 30px;
	padding: 30px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--basic-light-blue);
	background-color: var(--basic-dark-white);
	letter-spacing: -3px;
}

.store {
	display: grid;
	grid-gap: 20px;
	gap: 20px;
	grid-template-columns: 220px 1fr;
	grid-auto-rows: min-content;
}

.sorting-menu {
	display: flex;
	flex-wrap: wrap;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--special-lace);
	margin-bottom: 6px;
}

.sorting-menu__heading {
	font-size: 13px;
	line-height: 18px;
	padding: 0 20px;
	font-weight: normal;
	font-style: normal;
	background-color: var(--special-lace);
}

.sorting-menu__list {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
}

.sorting-menu__list-item {
	margin-left: 66px;
}
.sorting-menu__button {
	list-style: none;
	padding: 0;
	opacity: .3;
}

.filters {
	grid-row: 1 / 3;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.filters__heading {
	font-size: 13px;
	line-height: 18px;
	background-color: var(--special-lace);
	padding: 10px 19px;
	margin-top: 0;
}

.filters__item {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid var(--basic-black);
	margin-bottom: 12px;
}
.filters__item_manufacturers {
	padding-bottom: 15px;
}

.filters__item_food {
	margin-bottom: 15px;
}
.filters__item label {
	display: block;
	padding-left: 35px;
	position: relative;
	cursor: pointer;
	user-select: none;
	margin-bottom: 20px;
}

.filter__item-checkbox+label::before {
	position: absolute;
	display: block;
	width: 23px;
	height: 23px;
	left: 0;
	content: '';
	background: url('../img/icons/icon-checkbox-off.svg');
	background-repeat: no-repeat;
}

.filter__item-checkbox:checked+label::before {
	display: none;
}

.filter__item-checkbox:checked+label::after {
	position: absolute;
	width: 27px;
	height: 27px;
	z-index: 10;
	left: 0;
	content: '';
	background: url('../img/icons/icon-checkbox-on.svg');
	background-repeat: no-repeat;
}

.filters__item-radio+label::before {
	width: 27px;
	height: 27px;
	position: absolute;
	top: -5px;
	left: 0;
	content: '';
	background: url('../img/icons/icon-radio-off.svg');
	background-repeat: no-repeat;
}


/* .filters__item-radio:checked + label::before {
	background-color: red;
	border-radius: 50%;
} */

.filters__show-btn {
	width: 100%;
	padding: 10px 0;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.range-filter {
	width: 220px;
	margin-top: 13px;
	padding-bottom: 7px;
}

.range-controls {
	position: relative;
	background-color: var(--special-filter-bg);
	border-radius: 5px;
	height: 80px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
}

.range-controls .scale {
	height: 2px;
	background: var(--special-filter-bar);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: var(--basic-green);
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 20px;
	height: 20px;
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	background-color: var(--special-filter-toggle);
	box-shadow: 0 2px 1px 0 var(--special-filter-shadow);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}
.range-controls .toggle-max {
	left: 73%;
}

.price-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 17px;
	line-height: 18px;
}

.price-controls input {
	border: none;
	padding: 0;
	height: 38px;
	background-color: var(--special-filter-bg);
	text-align: center;
}

.price-controls label {
	padding: 0;
}

.filters__name {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}

.filters__name_manufacturers {
	margin-bottom: 18px;
}
.filters__name_food {
	margin-bottom: 26px;
}
.filters__show-btn {
	border: 1px solid var(--special-light-grey);
}

.wrapper {
	background-color: var(--basic-dark-white);
}

.about-perforators {
	padding-top: 90px;
	padding-bottom: 47px;
	background-color: var(--basic-dark-white);
}

.about-perforators__heading {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -3px;
}

.about-perforators__text {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
}


/* Интерактивные элементы */

.page-header__navigation-button:hover,
.services__navigation-list a:hover {
	background-color: var(--hover-light-blue);
}

.page-header__checkout-button:hover {
	background-color: var(--hover-green);
}

.personal-area__button:hover {
	color: var(--hover-red);
}

.promo-section__services-button:hover {
	background-color: var(--basic-light-grey);
}

.button:hover {
	background-color: var(--hover-red);
}

.button-container__buy-button:hover {
	background-color: var(--hover-green);
}

.button-container__bookmarks-button:hover {
	border-color: var(--hover-light-blue);
}

.page-footer__navigation a:hover,
.page-footer__social-link:hover {
	text-decoration: underline;
}

.page-footer__socials-list-item a:hover {
	background-color: var(--hover-red);
}

.sorting-menu__button:hover {
	opacity: 1;
	border-bottom: 1px dotted var(--hover-red);
}


/* click */

.services__navigation-list a:active {
	background-color: var(--basic-white);
	color: var(--basic-light-blue);
}

.page-header__functional-menu-button:active {
	background-color: var(--click-black);
}

.page-header__checkout-button:active {
	background-color: var(--click-green);
}

.personal-area__button:active {
	background-color: var(--basic-white);
	color: var(--basic-light-grey);
}

.promo-section__services-button:active {
	background-color: var(--special-grey);
}

.button:active {
	background-color: var(--click-red);
}

.button-container__buy-button:active {
	background-color: var(--click-green);
}

.button-container__bookmarks-button:active {
	border-color: var(--basic-light-blue);
	color: var(--basic-light-blue);
}

.page-footer__navigation-item a:active {
	opacity: .5;
}

.page-footer__social-link:active {
	color: var(--click-red);
}

.sorting-menu__button:active {
	color: var(--click-red);
	border: none;
}

.bredcrumbs__item a:active {
	border: 1px solid var(--click-red);
}


/* focus */

.page-header__navigation a:focus,
.services__navigation-list a:focus {
	background-color: var(--click-blue);
}

.site-search:focus {
	min-height: 42px;
	background-color: var(--basic-white);
	color: var(--basik-balack);
}

.site-search:focus::placeholder {
	color: var(--click-black);
}


/* иконки в псевдоэлементах */

.page-header__contact-info-phone::before {
	position: absolute;
	content: '';
	width: 19px;
	height: 19px;
	top: 14px;
	left: 36px;
	background: url('../img/icons/icon-phone.svg');
}

/*Флаг новый продукт */

.new-product::after {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	width: 70px;
	height: 70px;
	background: url('../img/icons/icon-label-new.svg');
	background-repeat: no-repeat;
	opacity: 1;
}